.myNav {
    background-color: white !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.26);
    font-family: 'Courier New', Courier, monospace !important;
}
nav a {
    color: #000000 !important;
}
.logo {
    font-size: larger !important;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
nav ul {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex: 1;
}
nav ul li {
    padding: 0px 20px;
}
nav ul li a {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
@media (min-width: 300px) and (max-width: 786px) {
    nav ul {
        display: flex;
        flex: 1;
    }
}
