.backBtn {
    padding: 6px 35px;
}
.noItem {
    letter-spacing: 1.3px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}
.image {
    margin-right: 25px;
    height: 70px;
    width: 70px;
}
.image:hover {
    scale: 1.4;
}
.text{
    font-weight: 700;
}
.qtyBtn {
    background-color: transparent;
    border: none;
}
.qtyBtn:hover {
    cursor: pointer;
    scale: 1.2;
}
.qtyBtn:focus, .qtyBtn:active, .qtyBtn:focus-visible{
    box-shadow: none;
    outline: none;
}

.qty {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    padding-top: 3px;
    margin: 0px;
}
.heading {
    font-weight: 900;
}
.delete {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
}
.delete:hover {
    color: rgb(232, 71, 71) !important;
    background-color: transparent !important;
    scale: 1.2;
}

.confirmBtn {
    background-color: #00000099 !important;
    color: #FFFFFF !important;
    letter-spacing: 1.4px;
    padding: 10px 50px;
}
.confirmBtn:hover {
    background-color:transparent !important;
    color: #00000099 !important;
}
