.title {
    font-family: 'Courier New', Courier, monospace !important;
    border-bottom: 5px solid lightgray;
    margin-top: 50px;
    font-weight: 700;
}
.myRow {
    justify-content: center;
    margin: 30px 0px;
    display: flex;
}
